.footer-links {
  text-decoration: none;
  list-style-type: none;
}

.footer-links li {
  display: inline;
  margin-right: 5px;
}

.cv-list li {
  list-style-type: none;
}

.edit-date {
  margin-top: 50px;
  display: block;
}

.overwiev {
  width: 50%;
}
