---
layout: page
title: Životopis
author: Martin Hauskrecht
date: 2017-03-11
---

<h2>Osobné údaje</h2>
<p>
  <b>Meno:</b> {{page.author}}
  <br>
  <b>Bydlisko:</b> Medená 21, 811 02 Bratislava
  <br>
  <b>Tel. č.:</b> 0948 020 298
  <br>
  <b>Email:</b> martin.hauskrecht[at]stuba.sk
</p>

<h2>Vzdelanie</h2>
<p>
  <div class="row">

    <table>
      {% for study in site.data.studies.studies %}
      <tr>
        <td class="col-md-2">{{ study.start_year }} - {{ study.end_year }}</td>
        <td class="col-md-8">
          {{ study.name }}
          <br>
          {{ study.adress }}
        </td>

      </tr>
      {% endfor %}
    </table>
  </div>
</p>


<h2>Pracovné skúsenosti</h2>
<p>
  <div class="row">
    <table>
      {% for job in site.data.work_experience.jobs %}
      <tr>
        <td class="col-md-2">{{ job.start_year }} - {{ job.end_year }}</td>
        <td class="col-md-8">
          {{ job.institution }}
          <br>
          <i>{{ job.position }}</i>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</p>


<h2>Znalosti</h2>
<h4>Počítačové znalosti</h4>
<div class="row">
  <p>
    <table>
      {% for language in site.data.programming_languages.languages %}
      <tr>
        <td class="col-md-2">{{ language.name }}</td>
        <td class="col-md-6">{{ language.level }}</td>
      </tr>
      {% endfor %}

    </table>

  </p>

</div>
